html{
	font-family: 'Oswald', sans-serif;
	
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif;
}

header,h1,nav,main,article,aside,footer{
	padding:0;
	margin:0;
	border:1px solid black;
}

header{
	display:flex;
	align-content:flex-start;
}

main{
	display:flex;
}